* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(128, 132, 136);
  color: #333;
  line-height: 1.5;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #231751;
  color: #fff;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

aside {
  margin-bottom: 20px;
  /* padding-right: 20px; */
}

.searchCity {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-field {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-button {
  margin-top: 10px;
}

#listofCities {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 5px 1rem;
  justify-content: space-between;
}

.city-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.city-name {
  /* text-align: left; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#clear {
  margin-top: 15px;
}

.showCity {
  background-color: #090000;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#currentCity {
  list-style-type: circle;
  margin-bottom: 10px;
}

#weatherIcons {
  margin-bottom: 20px;
}

#forecast-5 {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.forecast-card {
  background-color: #040000;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: calc(20% - 10px);
}

.forecast-date {
  font-weight: bold;
  margin-bottom: 10px;
}

.forecast-asterisc {
  color: rgb(235, 151, 6);
  margin-right: 5px;
  font-weight: bold;
}

.forecast-details {
  list-style-type: none;
  padding: 0;
}

.forecast-details li {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  #forecast-5 li {
    width: calc(50% - 20px);
  }
  aside {
    padding-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  #forecast-5 {
    width: 100%;
  }
}